@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
   --yellow: #FEBD69;
   --blue:#232F3E; 
   --white:#fff;  
   --offWhite:#F7F7F7;    
   --black:#131921;
   --font-size-base : 1rem;
   --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
   --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
   --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
   --border-radius:10px;
   --font-size-xl: clamp(2rem, 2.38vw + 1.85rem, 3rem);
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: var(--white);
    margin: 0;
}
.nav-link{
    color:var(--white);
}
main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}
.box
{
    background-color:  #BABABA;;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
.box img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.box .info
{
    margin-top: 5px;
    text-align: center;
}
.box .btn
{
    margin: 5px 15px 10px 15px ;
    background-color: var(--black);
    color: var(--white);
}
.box .btn:hover
{
    background-color: var(--blue);
    color:var(--yellow);
}
@media screen and (max-width: 800px)
{
    main{
        grid-template-columns: repeat(2,1fr);
    }
}